body
{
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 200px;
}

form
{
    width: 400px;
    margin: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#origin
{
    margin-top: 5px;
    padding: 0px;
    border-radius: 4px;
}

#list
{
    margin: 0px 0px 0px 20px;
    width: 400px;
    height: 650px;
    background-color: #4CAF50;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label
{
    margin-bottom: 5px;
}

input[type="text"], input[type="email"]
{
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#element
{
    margin: 0px;
}

ul
{
    height: 90%;
    width: 95%;
    
    border-radius: 3px;
    border:none;
    resize: none;
}

ul
{
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
}

ol
{
    margin: 0px;
    padding: 0px;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    border-radius: 3px;
}

div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div>button
{
    background-color: #4CAF50;
    color: white; 

    margin: 10px auto;
    padding: 10px 20px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div>button:hover
{
    background-color: #45a049;
}

#masInfo
{
    margin-top: 10px;
}

.checkboxs
{
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 0px;
    padding: 0px;
    justify-items: start;
    align-items: baseline;
}

.radios
{
    display: grid;
    grid-template-columns: 1fr 50fr;
    margin: 0px;
    padding: 0px;
    justify-items: start;
    align-items: baseline;
}

#list
{
    width: 425px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
}

option
{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 97%;
    background-color: white;
}

option:hover
{
    color: white;
    background-color: rgb(11, 129, 11);
}

option:checked
{
    color: white;
    background-color: darkgreen;
}

@media screen and (max-width: 943px)
{
    #list
    {
        margin: 10px 0px 0px 0px;
    }
}